<template>
  <section class="header">
    <div class="header__inner">
      <div class="header__nav-bar">
        <div class="header__wrp-img">
          <img src="@/assets/logo.svg" alt="create" />
        </div>
        <span class="header__nav-bar-text modified">About Us</span>
        <span class="header__nav-bar-text">Courses</span>
        <span class="header__nav-bar-text">Events</span>
        <span class="header__nav-bar-text">Blog</span>
        <span class="header__nav-bar-text">Contacts</span>
        <div class="header__nav-bar-btn-wrp">
          <button class="header__nav-bar-btn">Get consultation</button>
        </div>
        <img src="@/assets/icon.svg" alt="icon" class="header__nav-bar-img" />
        <a class="header__nav-bar-text"> Log in / Register</a>
        <div class="icon-wrp"></div>
      </div>
      <div class="header__content">
        <div class="header__content-left">
          <div class="header__content-icon-wrp">
            <img src="@/assets/playvideo.svg" alt="icon" class="header__content-icon" />
            <span class="header__content-icon-text">Play showreel</span>
          </div>
          <div class="header__content-left-text">Enjoy studying with Createx Online Courses</div>
          <div class="header__content-btns">
            <button class="header__content-btns-about">About</button>
            <button class="header__content-btns-explore">Explore courses</button>
          </div>
        </div>
        <div class="header__content-img-wrp">
          <img src="@/assets/illustration.svg" alt="illustration" />
        </div>
      </div>
      <div class="header__footer">
        <ul class="header__footer-list">
          <li class="header__footer-list-item">
            1200
            <span class="header__footer-text">Students graduated</span>
          </li>
          <li class="header__footer-list-item">
            84
            <span class="header__footer-text">Completed courses</span>
          </li>
          <li class="header__footer-list-item">
            16
            <span class="header__footer-text">Qualified tutors</span>
          </li>
          <li class="header__footer-list-item">
            5
            <span class="header__footer-text">Years experience</span>
          </li>
        </ul>
      </div>
      <div class="header__footer-text"></div>
    </div>
  </section>
</template>

<script>
export default {
  name: "App",
  components: {},
};

</script>

<style lang="scss">

@import "./css/app.scss";

.header {
  background-repeat: no-repeat;
  background-size: contain;
  //как в шаблоне
  // background-image: linear-gradient(50deg, #fedcd2, #fedcd2), url("@/assets/bgitems.png"); 
  background-blend-mode: hue;
  //как будто все цвета сочнее
  background-image: linear-gradient(45deg, #f8a261, #6e9fc9), url("@/assets/bgitems.png"); 
  flex: 1;
  display: flex;

  &__inner {
    padding-top: 2rem;
    margin: auto;
    max-width: 129rem;
    min-height: 100vh;
  }
  &__wrp-img {
    margin-right: 6rem;
  }
  &__nav-bar {
    display: flex;
    align-items: center;
    color: $gray-clr;
    margin-top: 3.5rem;

    &-text {
      margin-right: 4rem;
      @include font-lato;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 160%;
    }

    &-img {
      padding-right: 0.9rem;
    }

    &-btn {
      @include btn-color;
      @include bold-lato;
      margin: auto;
      width: 15rem;
      height: 4rem;
      font-size: 1.6rem;
      &-wrp {
        margin: 0 4rem 0 15rem;
      }
    }
  }
  &__content {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex: 1;

    &-icon-text {
        @include font-lato;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 21px;
        align-self: center;
      }
    &-icon-wrp {
      margin-top: 10rem;
      display: flex; 
    }
    
    &-left {
      display: flex;
      flex-direction: column;
      flex: 1;

      &-text {
        margin-top: 2.4rem;
        @include font-lato;
        font-weight: 900;
        font-size: 6.4rem;
        line-height: 130%;
        max-width: 50rem;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        color: $lightgray-clr ;
      }
    }
    &-img-wrp {
      object-fit: cover;
      margin: 6rem auto 10rem auto;
    }
    &-btns {
      margin-top: 6rem;
      margin-right: 2rem;
      &-about {
        @include btn-blank;
        @include bold-lato;
        margin: 0 2rem 0 auto;
        width: 12rem;
        height: 5rem;
        font-size: 16px;
        background: transparent;
      }
      &-explore {
        @include btn-color;
        @include bold-lato;
        margin: auto;
        width: 20rem;
        height:  5rem;
        font-size: 1.6rem;
      }
    }
  }
  &__footer {
    display: flex;
  }
  &__footer-list {
    list-style: none;
    display: flex;
    width: 100%;  // что лучше 129 rem или проценты?
    justify-content:space-between;
    padding:0;
  }
  &__footer-list-item {
    @include font-lato;
    font-weight: 900;
    font-size: 4.6rem;
    line-height: 130%;
    margin-right: 5rem;
    position: relative;
    width: 29rem;
    display: flex;
    align-content: center;
  }
  &__footer-list-item:not(:last-of-type):before {  
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    background-color: $orange-clr;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 2.5px;
  }
  &__footer-list-item:before:last-child {
    content: "";
    display: none;
    background-color: $black-clr;
  }
  &__footer-text {
    @include font-lato;
    // align-items: center; не работает почему
    //  align-self: center;
    margin-left:1rem;
    transform: translateY(+30%);
    font-weight: 520;
    font-size: 1.7rem;
    line-height: 160%;
    height: 100%;
  }
}
</style>
